/* ie lt11 */

.blog-news-icon:before,
#menu-item-1449 > a:before,
.get-engaged-icon:before,
#menu-item-1445 > a:before,
.our-study-icon:before,
#menu-item-1441 > a:before ,
.about-icon:before,
#menu-item-1645 > a:before {
	
	font-size: 100%;
}

span.story-dot-navigation a.text:before {
	font-size:0.5em;
}

.sea-levels {
	min-height:500px;	
}
#data-svg-1568 svg {
	height:500px;
}

