/* ie ltE9 */


  .about-icon:before,
    #menu-item-1645 > a:before {
        content: "\e628";
        font-size: 60%;
    }


    .our-study-icon:before,
    #menu-item-1441 > a:before {
        content: "\e618";
        font-size: 60%;
    }


    .blog-news-icon:before,
#menu-item-1449 > a:before {
    content: "\e625";
    font-size: 60%;
}
.get-engaged-icon:before,
#menu-item-1445 > a:before {
    content: "\e626";
    font-size: 60%;
}

span.story-dot-navigation a {
    font-size:0.3em;
}

.menu-social-menu-container {
    position: relative;
    top:30px;
}