/**** STUFF FOR DEV, DELETE IF YOU LIKE ****/

section {
    border: 2px solid #ffffff;
}


/**** MIAMI UNEMPLOYMENT (TOP) ***/

.unemployment-rate * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.unemployment-rate {
    display: inline-block;
    margin: 130px auto;
}

.unemployment-rate .graph{
    position: relative;
    width: 680px;
    height: 500px;
    padding:2em 4em;
}

.unemployment-rate .bars {
    text-align: center;
}

.unemployment-rate .bar {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    margin: 0 2.2em;
    height: 100%;
}

.unemployment-rate .bar:after {
    content: attr(data-location);
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    width: 60px;
    margin-top: 10px;
    margin-left: -30px;
    text-align: center;
}

.unemployment-rate .bar .rate {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-width: 1px 1px 0px 1px;
    border-color: #000;
    border-style: solid;

    -webkit-transition: border .4s, height .4s;
    -moz-transition:    border .4s, height .4s;
    -o-transition:      border .4s, height .4s;
    -ms-transition:     border .4s, height .4s;
    transition:         border .4s, height .4s;
}

.unemployment-rate[data-dimension*="did not graduate"] .bar .rate{
    border-color: #98bc3d;
}

.unemployment-rate[data-dimension*="high school diploma"] .bar .rate{
    border-color: #00aeda;
}

.unemployment-rate[data-dimension*="some college"] .bar .rate{
    border-color: #7d4299;
}

.unemployment-rate[data-dimension*="bachelor's degree"] .bar .rate{
    border-color: #f05047;
}


.unemployment-rate .bar .value {
    background: #000;
    width: 11px;
    height: 11px;
    border-radius: 7px;
    margin: 2px 2px;

    -webkit-transition: background .4s;
    -moz-transition:    background .4s;
    -o-transition:      background .4s;
    -ms-transition:     background .4s;
    transition:         background .4s;
}

.unemployment-rate[data-dimension*="did not graduate"] .bar .value{
    background: #98bc3d;
}

.unemployment-rate[data-dimension*="high school diploma"] .bar .value{
    background: #00aeda;
}

.unemployment-rate[data-dimension*="some college"] .bar .value{
    background: #7d4299;
}

.unemployment-rate[data-dimension*="bachelor's degree"] .bar .value{
    background: #f05047;
}


.unemployment-rate .bar .value:before {
    content: attr(data-value);
    position: absolute;
    top: -.2em;
    right: 100%;
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 9px;

    -webkit-transition: color .4s;
    -moz-transition:    color .4s;
    -o-transition:      color .4s;
    -ms-transition:     color .4s;
    transition:         color .4s;
}

.unemployment-rate[data-dimension*="did not graduate"] .bar .value:before{
    color: #98bc3d;
}

.unemployment-rate[data-dimension*="high school diploma"] .bar .value:before{
    color: #00aeda;
}

.unemployment-rate[data-dimension*="some college"] .bar .value:before{
    color: #7d4299;
}

.unemployment-rate[data-dimension*="bachelor's degree"] .bar .value:before{
    color: #f05047;
}


.unemployment-rate .bar .baseline {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-left: 6px solid #000000;
    border-right: 6px solid #000000;

    -webkit-transition: top .4s;
    -moz-transition:    top .4s;
    -o-transition:      top .4s;
    -ms-transition:     top .4s;
    transition:         top .4s;
}

.unemployment-rate .bar .baseline:before {
    content: attr(data-value);
    position: absolute;
    top: -.5em;
    right: 100%;
    font-weight: bold;
    font-size: .9em;
    margin-right: 12px;
}

/****** LEGEND *******/

.unemployment-rate .legend {
    width: 100%;
}

.unemployment-rate .legend .item {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    margin: 0 .5rem;
    background: #ccc;
    height: 60px;
}

.unemployment-rate .legend .item label{
    display: block;
    font-size: .5rem;
    text-align: center;
    width: 100%;
}

.toggle {
    display: inline-block;
    vertical-align:middle;
    background: none;
    width: 210px;
}

.toggle .value {
    font-size: .8em;
    padding: .2em .4em;
    cursor: pointer;
}

.toggle > * {
    display: inline-block;
    vertical-align: middle;
}

.toggle .slider {
    position: relative;
    width: 50px;
    height: 4px;
    border: 1px solid #000;
}

.toggle .slider:after {
    content: "";
    display:block;
    position:absolute;
    top:-4px;
    left:2px;
    width:10px;
    height:10px;
    border-radius: 5px;
    background: #000;

    -webkit-transition: left .3s;
    -moz-transition:    left .3s;
    -o-transition:      left .3s;
    -ms-transition:     left .3s;
    transition:         left .3s;
}

.toggle[data-value="2"] .slider:after {
    left: 36px;
}

.toggle[data-value="0"] .value:first-of-type {
    color: #fff;
    background: #000;
}

.toggle[data-value="2"] .value:last-of-type {
    color: #fff;
    background: #000;
}

/**** MIAMI GRADUATION MAP ***/

/**
    purple: #7d4299
    blue: #00aeda;
**/

body {
    background:#333;
}

.hs-graduation-rates {
    width: 640px;
}

.hs-graduation-rates .toggle {
    display: block;
    margin: 1em auto;
}

.hs-graduation-rates svg {
    width: 100%;
    height: auto;
}

.hs-graduation-rates .map .usa {
    fill: #7D429B;
}

.hs-graduation-rates .map .total {
    fill: #ffffff;
}

.hs-graduation-rates .map .value {
    fill: #00aeda;
}

.hs-graduation-rates .map text.value {
    font-size: 40px;
    font-weight: bold;
}

.hs-graduation-rates .map .label {
    font-size: 13px;
    fill: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

/****  INSTRUCTIONAL EXPENDITURES ****/

/*
    2008-2009: #ccdd98;
    2010-2011: #98bc3d;
*/

.instructional-expenditures {
    margin-top:40px;
    width: 640px;
    padding:2em 6em 2em 0;;
}

.instructional-expenditures .bar {
    display: block;
    height:35px;
    position:relative;
}

.instructional-expenditures .bar:before {
    content:attr(data-location);
    display: inline-block;
    font-size:.8em;
    color:#ffffff;
    margin-top: 1.5em;
    width: 10%;
    text-align: center;
}

.instructional-expenditures .bar div[data-year] {
    background: #fff;
    position: relative;
    height: 6px;
    position: absolute;
    top:1.5em;
    left:10%;
}

.instructional-expenditures .bar div[data-year].top {
    z-index:1;
}

.instructional-expenditures .bar div[data-year]:after {
    content:"";
    position:absolute;
    top:0;
    right:-8px;
    width:16px;
    height:16px;
    border-radius:8px;
    background:#000;
    margin-top:-5px;
}

.instructional-expenditures .bar div[data-year="2008-2009"],
.instructional-expenditures .bar div[data-year="2008-2009"]:after {
    background: #ccdd98;
}

.instructional-expenditures .bar div[data-year]:before {
    left: 100%;
    margin-left: 10px;
    font-weight:bold;
}

.instructional-expenditures .bar div.top[data-year]:before {
    right:10px;
    left:initial;
}

.instructional-expenditures .bar[data-location="Miami"] div[data-year]:before {
    top: -20px;
}

.instructional-expenditures .bar[data-location="US"] div[data-year]:before {
    bottom: -24px;
}


.instructional-expenditures .bar div[data-year="2008-2009"]:before {
    content: attr(data-cost);
    color: #ccdd98;
    position:absolute;
}

.instructional-expenditures .bar div[data-year="2010-2011"]:before {
    content: attr(data-cost);
    color: #98bc3d;
    position:absolute;
}

.instructional-expenditures .bar div[data-year="2010-2011"],
.instructional-expenditures .bar div[data-year="2010-2011"]:after {
    background: #98bc3d;
}

/** RADIAL GRAPHS **/

.radial-graph {
    position: relative;
    display:inline-block;
}

.radial-graph .graph-title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin: -.6em 0;
    font-size: .8em;
}

.radial-graph circle.bkg {
    fill: #ffffff;
}

.radial-graph .outer.arc {
    fill: rgb(0,175,219);
}

.radial-graph .inner.arc {
    fill: #7D429B;
}

.radial-graph .label {
    font-size: 1.1em;
    font-weight: bold;
}

.radial-graph .label.inner {
    fill: #7D429B;
}

.radial-graph .label.outer {
    fill: rgb(0,175,219);
}
