/**** STUFF FOR DEV, DELETE IF YOU LIKE ****/
* {
    box-sizing: border-box;
}

section {
/*     border: 2px solid #ffffff; */
}

.bar-graph {
    position: relative;
    width: 600px;
    height: 400px;
}

.bar-graph .group {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    overflow: hidden;
}

.bar-graph .group .label {
    padding: .5em 1em;
    text-align: center;
    margin:  .5em 0;
    border-top: 1px solid #000;
    border-bottom:  1px solid #000;
}

.bar-graph .bars {
    position: relative;
    height:90%;
    padding: 30% 1em 0;
    overflow:hidden;
    
}

.bar-graph .bar {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 100%;
    margin-right: .4em;

}

.bar-graph .bar .value {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    -webkit-transition: height .5s;
       -moz-transition: height .5s;
        -ms-transition: height .5s;
         -o-transition: height .5s;
            transition: height .5s;
}

.bar-graph .bar .marker {
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 2px 0 0 2px;
}

.bar-graph .bar .marker:before {
    content: attr(data-label);
    position: absolute;
    top: -20px;
    left: -5px;
    width: 30px;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
}
