/*********** Story Park Space: Tourism Impact ***/

#data-svg-1574 {
    opacity: 0;

}


@media screen and (max-width: 640px){
    #data-svg-1574{
        display:none;
    }
}


#data-svg-1574 .values {
    width:400px;
    display: block;
    height: 150px;
    position: relative;
    left: 110px;
    bottom: 102px;
}

#data-svg-1574 .values span {
    width:50%;
}

#data-svg-1574 .legend {
    height: 76px;
    width: 500px;
    padding:1em 3em;
}

#data-svg-1574 .d3-slider-axis text {
    font-family: 'gotham_htfblack';
    fill:rgb(125,65,153);
    font-size: 1.2em;
}

#data-svg-1574 .d3-slider-axis.d3-slider-axis-bottom {
    width: 500px;
}

#data-svg-1574 .d3-slider-handle {
    position: absolute;
    width: 1em;
    height: 1em;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background: rgb(125,65,153);
    z-index: 3;
}

#data-svg-1574 .values span:after {
    content:attr(data-value);
    font-size: 4.8em;
    font-family: 'gotham_htfblack';
}

#data-svg-1574 .values span.visitors:after {
    color:rgb(125,65,153);
}

#data-svg-1574 .values span.tourism-dollars:after {
    color:rgb(152,187,50);
}

#data-svg-1574 #dudes {
    width:200px;
    top: 159px;
    left: 160px;
}

#data-svg-1574 .instructions h4 {
    display:block;
    width:500px;
    height:auto ;
    background:#fff;
    border:1px solid rgb(52,52,51);
    padding:1em 2em;
}

#data-svg-1574 span.dude-icon {
    color:#fff;
}

#data-svg-1574 span.dude-icon.active {
    color: rgb(125, 65, 153);
}

#data-svg-1574 svg#usa {
    position: relative;
    bottom: 74px;
    z-index:1;
}

#data-svg-1574 img.visitors-legend,
#data-svg-1574 img.tourism-dollars-legend {
    width:120px;
    margin-right:1em;
    margin-top:0;
}

#data-svg-1574 .legend:after {
    top: 47px;
}

.mia-dot {
    width: 8%!important;
    position: absolute;
    right: 216px;
    top: 461px;
    z-index: 10;
}