/*********** Story Park Space: Park Investment ***/


@media screen and (max-width: 640px){
    #data-svg-1570{
        display:none;
    }
}


#data-svg-1570.data-svg {
    max-height: 650px;
}

#data-svg-1570 .city.years .track {
    display: block;
    height: 6px;
    width: 38%;
    border: 1px solid rgb(52, 52, 51);
    position: relative;
    top: 22px;
    left: 50px;
}

#data-svg-1570 .city.years .dot {
    font-size: 6em;
    color: rgb(125, 65, 153);
    line-height: 1px;
    left: 86%;
    position: relative;
    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -ms-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s;
}

#data-svg-1570 .city.years .dot[data-year="2011"] {
    left: -10%;
}

#data-svg-1570 .city.years .dot[data-year="2010"] {
    left: 35%;
}

#data-svg-1570 .city.years .dot[data-year="2009"] {
    left: 10%;
}

#data-svg-1570 .city.years {
    display: block;
    border-color: rgb(148, 156, 161);
    height: auto;
    width: 38%;
    margin-top: 0;
    position: relative;
    left: 34%;
    bottom: 26px;
}

#data-svg-1570 .city.years.legend:after {
    top: 30px;
    height: 23px;
    display: inline-block;
    left: -18%;
    background-color: #fff;
}

#data-svg-1570 .city.years .year {
    display: block;
    width: 25%;
    height: 40px;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 35px;
    cursor: pointer;
}

#data-svg-1570 .city.years .year[data-year="2013"] {
    position:relative;
    left: 90px;
}

#data-svg-1570 .city.years .year.active span {
    background-color: rgb(125, 65, 153);
    color: #fff;
    padding: 2px;
}

.park-investment {
    /* opacity: 0; */
}

.park-investment .bar-graph {
    display: block;
    height: 410px;
    margin: 0 auto;
    width: 603px;
    position: relative;
    left: -3%;
    bottom: 80px;
    overflow: visible;
    padding: 0 0 0 10em;
}

.park-investment .bar-graph .group {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    overflow: visible;
    height: 100%;
        -webkit-transition: height 400ms ease-in-out;
    -moz-transition: height 400ms ease-in-out;
    -ms-transition: height 400ms ease-in-out;
    -o-transition: height 400ms ease-in-out;
    transition: height 400ms ease-in-out;
}

.park-investment .bar-graph .group .label {
    padding: 1.5em 1em;
    text-align: center;
    border-top: 1px solid rgb(148, 156, 161);
    border-bottom: 1px solid rgb(148, 156, 161);
    display: block;
    border-radius: 0;
    font-family: gotham_htfbook;
    font-size: 1em;
    color: rgb(39, 38, 38);
    position: relative;
    top: 7%;
}

.park-investment .bar-graph .bars {
    position: relative;
    height: 85%;
    padding: 20% 1em 0;
    overflow: hidden;


    width: 83px;
}

.park-investment .bar-graph .bar {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 100%;
    margin: .4em;
    border-radius: 18px;
    background-color: rgb(152,187,50);
    left: 23px;

}

.park-investment .bar-graph .bar .value {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}

.park-investment .bar-graph .bar .marker {
    width: 9px;
    height: 9px;
    border: none;
    border-radius: 8px;
    margin: 2px 0 0 3px;
    background-color: #fff;
}

.park-investment .bar-graph .bar .marker:before {
    content: attr(data-label);
    position: absolute;
    top: -1px;
    left: -42px;
    width: 30px;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    font-family: gotham_htfblack;
    font-size: 1.2em;
    color: rgb(0, 175, 219);
}

.vertical-track {
    display: block;

    width: 20px;
    height: 420px;
    background-color: rgb(0, 175, 219);
    padding: 1em 0;
    margin: 2em 2.4em;
    float: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.vertical-track-limit {
    border-bottom: dashed 2px rgb(0, 175, 219);
    margin-bottom: 0px;
    font-family: gotham_htfblack;
}

.vertical-track-limit h5 {
    position:relative;
    top:30px;
    font-size:0.8em;
    text-transform:uppercase;
    color:rgb(0,175,219);
    
}

.vertical-track-limit.two {
    position:relative;
    bottom: -147px;
}

.vertical-track-limit.bottom {
    position:relative;
    bottom: -275px;
}
.vertical-track .cities {
}

.vertical-track-limit h3 {
    text-align: right;
    color: rgb(0, 175, 219);
}

.post-1513 .data-svg {
    min-height: 700px;
}

.post-1513 #infographic-tools-3 {

    float: left;
    display: block;
    width: 100%;
    clear: both;
    margin: 0 auto;

}

#pedestrian-tracks {
    height: 600px;
    z-index: 1;
}

.city-labels {
    border-top: 1px solid rgb(148, 156, 161);
    border-bottom: 1px solid rgb(148, 156, 161);
}

.post-1513 .cities {
    float: left;
    display: block;
    margin: 0 auto;
    width: 15px;
    padding: 1em 0;
    margin: 0 2.55em;
    text-align: center;
    font-family: 'gotham_htfblack';
}

.spin-tha-track {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(0, 175, 219);
}

.pedestrian-years {
    margin-top: 15px;
    padding: 20px 10px;
    border: 1px solid rgb(148, 156, 161);
}

.pedestrian-cricles {
    background-color: #fff;
}

.post-1513 .data-container .text:after {
    content: attr(data-city);
    font-family: 'gotham_htfbook';
    font-size: 1.6em;
    text-align: middle;

}

#pedestrian-year-labels .p-year-label.active {

    fill: rgb(255, 255, 255);
}

#year-labels-slider-dot {
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

#year-labels-slider-path {
    -moz-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    fill: rgb(226, 228, 230);
    stroke: rgb(52, 52, 51);
}

#pedestrian-year-labels .p-year-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    fill: rgb(52, 52, 51);

}

.year-label-bg {
    fill: rgb(226, 228, 230);
}

.year-label-bg.active {
    fill: rgb(125, 65, 153);
}

.tiny-explore {
    width: 100%;
    display: block;
    float: left;
    margin: 0 auto;
    font-size: 0.8em;
    display: block;
    height: auto;

    -moz-transform: translateX(0) translateY(25px);
    -webkit-transform: translateX(0) translateY(25px);
    -o-transform: translateX(0) translateY(25px);
    -ms-transform: translateX(0) translateY(25px);
    transform: translateX(0) translateY(25px);

}

.tiny-explore h4 {

    background-color: #fff;
    padding: 8px;
    margin: 0 auto;
    width: 90px;
}

