/*********** Story Park Space: Parks and Population ***/

#data-svg-1572 {
	opacity: 0;
}

@media screen and (max-width: 640px){
    #data-svg-1572{
        display:none;
    }
}


.parks-population img.viz {
	max-width: 520px;
	height: auto;
	margin:1em 0 0 0!important;
	padding-left: 100px;
}



.parks-population img.legend {
	float:right;
	width:200px!important;
	height: auto;
	border:none;
	margin:0!important;
	position: relative;
	padding-bottom: 0px;
}

.thick.grey .data-svg h4 {
	color:rgb(148,156,161);
}