/*********** Story Park Space: Public Space and Air Quality ***/

#data-svg-1576 {
	opacity:0;
}

@media screen and (max-width: 640px){
    #data-svg-1576{
        display:none;
    }
}


.public-space-air-quality .usa {
    
}

.public-space-air-quality svg {
    height:500px;
}

#data-svg-1576 .city-group {
	display: inline-block;
	max-width: 100px;
	height: auto;
	
	opacity: 1;

}

.count span {
	display:inline-block;
	font-size: 100%;
}

#data-svg-1576 .air-icon,
#data-svg-1576 .five-acres-icon,
#data-svg-1576 .city {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	opacity:0;	
}

.air-quality.count {
	margin: 0;

}

.parkland.count {
	font-size: 100%;
	position: relative;
	top:10%;
}

#data-svg-1576 text.value {
	font-size:3em;
}

#usa-shadow {
	display:inline-block;
	position:absolute;
	top:10%;
	z-index:0;
	height:500px;
	width:600px;
	background-repeat: no-repeat;
}

#data-svg-1576 .map {


}

#data-svg-1576 .city-group.chicago {
	position:absolute;
	top: 48%;
	left: 55%;
}

#data-svg-1576 .city-group.miami {
	position:absolute;
	top: 67%;
	left: 81%;
}

#data-svg-1576 .city-group.new-york {
	position:absolute;
	top: 37%;
	left: 87%;
}

#data-svg-1576 .city-group.san-diego {
	position:absolute;
	top: 56%;
	left: 17%;
}

#data-svg-1576 .city-group.houston {
	position:absolute;
	top: 67%;
	left: 50%;
}

.air-quality-days-icon span.icon,
.park-land-per-1k-icon span.icon{
	display: inline-block;
	float:left;
	background-size:100%;
	background-repeat: no-repeat;
	width: 99px;
	height: 110px;
	max-width: inherit;
}
 

#data-svg-1576 .legend .item {
	float:left;
	display: block;
	 
}

#data-svg-1576 .legend {
	max-width: 400px;
	height: 90px;
}

#data-svg-1576 .legend:after {
	top: 77px;
	line-height: 1px;
	height: 10px;
	position: relative;
	display: inline-block;
	left: -15%;
}

#main img.air-quality-legend-icons {
	width:80px;	
	display: inline;
	float:right;
	margin:0;
	position: relative;
	right: 13%;
}



#data-svg-1576 .toggle {
    width: 151px;
    display: block;
    height: 0px;
    float: right;
    position: relative;
    top: 42%;
}

#data-svg-1576 .toggle .value.second {
	position:relative;
	left:10px;
}

#data-svg-1576 .toggle .value {
    float: left;
    width: 33px;
    color: rgb(52,52,51);
    font-size:90%;
    padding:1px 2px;
}

#data-svg-1576 .slider {
    height: 5px;
    border: 1px solid rgb(148, 156, 161);
    width: 59px;
    float: left;
    margin: 0.5em 0.8em;

}

#data-svg-1576 .slider:before {
    content: "\2022";
    display: block;
    font-size: 400%;
    position: relative;
    left: 40px;
    bottom: 39px;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -o-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    color: rgb(125, 65, 153);
    
}

#data-svg-1576 .toggle[data-value="0"] .slider:before {
    left: 3px;
}

#data-svg-1576 [data-value="2"] .value.second,
#data-svg-1576 [data-value="0"] .value.first {
	background-color:rgb(125,65,153);
	color:#fff;
} 

#data-svg-1576 .city-circle {
	fill:#fff;
	stroke:rgb(125,65,153);
}