/*********** Story Park Space: Sea Level ***/

#data-svg-1568 {
    opacity: 0;
}

.sea-levels {
    display: block;
    height: 100%;
    width: 80%;
    min-width: 500px;
    min-height: 200px;
    padding-top:20px;
    max-height: 400px!important;
}

.sea-levels svg {
    padding-top:10px;
    min-height: 500px;
}

@media screen and (max-width: 640px){
    #data-svg-1568{
        display:none;
    }
}

.sea-levels .bar:before {
    content:attr(data-value);
}

.sea-levels .bar.grey[data-year="2000"] {
    fill:#CDEFF9;
}
 

.sea-levels .bar,
.sea-levels .bar.grey[data-year="2000"] {
    float:left;
    /*fill: url(#sea-level-gradient);*/
    display: block;
    height:auto;
    width:3em;
    -webkit-transition: fill 200ms ease-out;
    -moz-transition: fill 200ms ease-out;
    -ms-transition: fill 200ms ease-out;
    -o-transition: fill 200ms ease-out;
    transition: fill 200ms ease-out;
}

.sea-levels .bar.grey {
    fill:rgb(219,221,224);

}

.sea-levels .area {                         
                  
    stroke-width: 0px;          
}


.park-space-sea-level .legend {
    min-height: 83px;
    width: 500px;
    padding:3%;
}

.park-space-sea-level .legend:after {
    background-color:#fff;
}

.d3-slider-axis.d3-slider-axis-bottom {
    height:30px;
    width:500px;
    padding:0 0.2em;
}

img.buoy {
    position: absolute;
    top: 18%;
    right: 0;
    max-height: 360px;

}

@media all and (min-width:992px)  {
    img.buoy {
        right: 34px;
    }
}

@media all and (min-width:641px) and (max-width:991px){
    img.buoy {
        right: -24px;
    }
}

.sea-levels text[data-year="2000"].label.hide {
    display:block!important;
}

.sea-levels .label {
    fill:rgb(148,156,161);
    font-size: 80%;

}

.sea-level-marker {
    position: absolute;
    bottom:20%;
    left:36%;
    font-size: 60%;
    text-transform: uppercase;

}

.park-space-sea-level h4 {
    position: relative;
    right:12%;
}

.post-1568 .entry-content p:first-of-type,
.post-1572 .entry-content p:first-of-type {
    color:rgb(0,175,219);
    font-weight: bold;
}

.post-1576 .entry-content p:first-of-type,
.post-1574 .entry-content p:first-of-type {
    color:rgb(125,65,153);
    font-weight: bold;
}