<head>
    <title>The ABC's of Miami's Education</title>
    <link rel="stylesheet" href="css/webfonts.css" charset="utf-8">
    <link rel="stylesheet" href="css/normalize.css" charset="utf-8">
    <link rel="stylesheet" href="css/main.css" charset="utf-8">
    <link rel="stylesheet" href="css/miami-affordability.css" charset="utf-8">

    <script charset="utf-8" src="js/vendor/jquery-1.11.0.js"></script>
    <script charset="utf-8" src="js/vendor/d3.min.js"></script>
    <script charset="utf-8" src="js/bar.graph.js"></script>
    <script charset="utf-8" src="js/miami-affordability-viz.js"></script>

</head>

<body>
    <section data-graph="employment growth v. unemployment rate">
        <div class="graph">

        </div>

        <div class="toggle" data-value="0">
            <div class="value" data-value="2010">2010</div>
            <div class="slider"></div>
            <div class="value" data-value="2012">2012</div>
        </div>

    </section>
</body>
